@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body{
    margin: 0px;


}

#top-bar{
    width: 100%;
    height: 77px;
    padding: 0 85px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
#logo{
    width: 120px;

}
#menu{
    word-spacing: 30px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    cursor: pointer;
}

.nav:hover{
    text-decoration: underline blue 3px;

}
.btn{
    background-color: #FFD8DB;
    color: blue;
    padding: 15px 20px;
    border-radius: 16px;
    border-style: none;
}


#first-section{
    font-size: 35px;
    font-family:'Poppins', sans-serif ;
    font-weight: 600px;
    padding-left: 75px;
}

#first-section i{
    font-size: 10px;
    color:blue;
}

.heading-5{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 0px;
}
#wrapper{
    display: flex;
}
#btn-2{
     background-color: #5243c0;
            color: #ffffff;
            padding: 12px;
            position: relative;
            top: -20px;
            left: 11px;
            border-radius: 1rem;
            border: none;
            margin-top: 32px;
}
.down{
    width: 50px;
    margin-left: 15px;
}

#wrapper{
    display: flex;
}
#section-wrapper{
    background-color: rgb(247, 235, 235);
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 27%;
    margin-top: 65px;
    border-style: none;
    padding: 5px 0px;

}
#section-wrapper2{
    background-color: rgb(247, 235, 235);
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 27%;
    margin-top: 1px;
    border-style: none;
    padding: 5px 0px;
}   
#section-wrapper3{
    background-color: rgb(247, 235, 235);
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 27%;
    margin-top: 1px;
    border-style: none;
    padding: 5px 0px;
}    
#section-wrapper4{
    background-color: rgb(247, 235, 235);
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 27%;
    margin-top: 1px;
    margin-bottom: 45px;
    border-style: none;
    padding: 5px 0px;
}    
.mark{
    width: 50px;
    height: 50px;
    background-image: url(./tick-gray.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8px;
}
.mark:hover{
    background-image: url(./tick-blue.png);
}


.para{
    font-size: 13px;
    margin: 18px 0px 2px 6px;
}
.cont{
    width: 50px;
    height: 50px;
    margin-left: 29px;
}
.cont2{
    width: 50px;
    height: 50px;
    margin-left: 13px;

}
.cont3{
    width: 50px;
    height: 50px;
    margin-left: 45px;

}
.cont4{
    width: 50px;
    height: 50px;
    margin-left: 63px;

}
.date{
    font-size: 12px;
     margin: 20px; 
}
.btn-1{
    padding: 0px 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: pink;
    border-style: none;
}
.btn-2{
    padding: 0px 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color:orangered;
    border-style: none;
}
.btn-3{
    padding: 0px 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color:lightblue;
    border-style: none;
}
.btn-4{
    padding: 0px 12px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color:peru;
    border-style: none;
}
#section-wrapper:hover {
    background-color: white;
}
#section-wrapper2:hover {
    background-color: white;
}
#section-wrapper3:hover {
    background-color: white;
}
#section-wrapper4:hover {
    background-color: white;
}
#landing{
    position: absolute;
    top: 20%;
    left:40%;
}